{% load static %}  

<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg" style="background-color:#45493c;">
  <div class="container px-lg-5">

      <a class="navbar-brand" href="{% url 'view_home' %}" class="logo">
                      {% load static %}
                        <img src="{% static 'img/logopixel.png' %}" height="60" class="d-inline-block align-top">
                    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item""><a class="nav-link active" aria-current="page" href="{% url 'view_home' %}"  style="font-size: 35px;">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="#!" style="font-size: 35px;">About</a></li>
              <li class="nav-item"><a class="nav-link" href="#!" style="font-size: 35px;">Documentation</a></li>
          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                </svg>
                <small>{% if request.user.is_authenticated %} {{ request.user.username }}{% else %}Guest{% endif %}</small>
              </a>
              <ul class="dropdown-menu rounded-0" aria-labelledby="navbarDropdown">
                {% if request.user.is_authenticated %}
                  <li>
                    <a class="dropdown-item" href="{% url 'view_account' %}">Il tuo profilo</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'view_logout' %}">Esci</a></li>  
                {% else %}
                  <li><a class="dropdown-item" href="{% url 'view_login' %}">Accedi</a></li>
                  <li><a class="dropdown-item" href="{% url 'view_signup' %}">Registrati</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
      </div>
  </div>
</nav>




